# node / workspaces
node_modules/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# builds / caches
dist/
build/
.out/
.cache/
.vite/
coverage/

# editors / OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# env
.env
.env.*
!.env.example
